* {
  margin: 0%;
  padding: 0%;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  height: 100vh;
  width: auto;
  scroll-snap-type: both mandatory;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header {
  background-color: 04724D;
  height: 7.3%;
}

/* logos header */

#logo_ap,
#logo_inti {
  height: 100%;
  width: auto;
  object-fit: contain;
}

#logo_ig,
#logo_git,
#logo_gm,
#logo_wh {
  filter: invert(100%);
  margin: 1% 0.7%;
  height: 50%;
  width: auto;
  object-fit: contain;
}

#logo_in {
  filter: invert(100%);
  padding-left: 5%;
  margin: 0.5% 0%;
  height: 70%;
  width: auto;
  object-fit: contain;
}

/* MAIN */

.container-fluid.main {
  width: 100%;
  height: 100vh;
  scroll-snap-align: end;
}

#banner {
  background-color: B8DBD9;
  height: 92.7%;
}

#acercade {
  background-color: F4F4F9;
}

#experiencia {
  overflow: hidden;
  background-color: 04724D;
  padding: 18vh 10vh;
}

/* CONTENIDO EXPERIENCIA */

.card {
  background-color: F4F4F9;
  overflow: hidden;
}

.card-img-top {
  width: 30vh;
  height: auto;
  transition: width 2s;
}

.card-img-top:hover {
  width: 33vh;
  height: auto;
}

.accordion-button {
  background-color: F4F4F9;
}

.accordion {
  width: 100%;
}

/* FIN CONTENIDO EXPERIENCIA */

#estudios {
  background-color: F4F4F9;
}

#skills {
  background-color: B8DBD9;
}

#proyectos {
  background-color: 586F7C;
  height: 92.7%;
  scroll-snap-align: start;
}

footer {
  background-color: black;
  width: auto;
  height: 7.3%;
}
